# Compiled source #
###################
*.o
*.pyo
*.pyc
__pycache__/

# Application cache #
#####################
.*.kate-swp
octave-core

# Filebrowser config-files #
############################
.directory
