<launch>
	<!-- Launches the AR.Drone driver -->
	<node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" clear_params="true">
	    <param name="outdoor" value="0" />				<!-- If we are flying outdoors, will select more aggressive default settings -->
	    <param name="flight_without_shell" value="0" /> <!-- Changes internal controller gains if we are flying without the propeller guard -->
	    
	    <param name="altitude_max" value="3000" />		<!-- in millimeters = 3 meters = 9' -->
        <param name="altitude_min" value="50" />		<!-- in millimeters = 5cm = 2" -->
        <param name="euler_angle_max" value="0.1" />	<!-- maximum allowable body angle in radians = 5 degrees -->
        <param name="control_vz_max" value="200" />		<!-- maximum z velocity in mm/sec = 0.2m/sec -->
	    <param name="control_yaw" value="0.7" />		<!-- maximum rotation rate in radians/sec = 40 degrees per second (1/9 rev/sec) -->
            <param name="video_codec" value="130" />
	</node>

	<node name="joy_node" pkg="joy" type="joy_node" output="screen" clear_params="true">
		<param name="dev" type="str" value="/dev/input/js0"/>
	</node>
	
	<!-- Launches the joystick controller -->
	<node name="joystick_controller" pkg="ardrone_tutorials" type="joystick_controller.py" output="screen" required="true">
		<!-- Configures the joystick button mapping -->
		<param name="ButtonEmergency"   value="16" />   <!-- PS3 - PS_LOGO -->
        <param name="ButtonLand"        value="0" />    <!-- PS3 - SELECT  -->
        <param name="ButtonTakeoff"     value="3" />    <!-- PS3 - START   -->
        
        <!-- Configures the joystick axis mapping -->
        <param name="AxisRoll"          value="2" />    <!-- PS3 - RightStick Left/Right  -->
        <param name="AxisPitch"         value="3" />    <!-- PS3 - RightStick Down/Up     -->
        <param name="AxisYaw"           value="0" />    <!-- PS3 - LeftStick  Left/Right  -->
        <param name="AxisZ"             value="1" />    <!-- PS3 - LeftStick  Down/Up     -->

		<!-- Configures the joystick mapping -->
		<param name="ScaleRoll"			value="1" />
		<param name="ScalePitch"		value="1" />
		<param name="ScaleYaw"			value="1" />
		<param name="ScaleZ"			value="1" />
	</node>
</launch>
